<!--About section-->
    <section id="about">
      <!--Inner about-->
    <div id="aboutInner" >
      <div class="clearfix">
      <!--About intro -->
    <article id="aboutIntro" class="columns_Two clearfix">
      <h1 class="title"><span>About me</span></h1>
      <p>Where to start and what to say?I am currently employed as a Web Tester at a leading Consumer Data Specialist in Cardiff, Wales. I started Software Testing just over 3 years ago & Web Development just over 2 years ago, I enjoy learning new things everyday. Whilst Software testing is my day to day job I have a passion for web development in my spare time and have already been involved in many projects. I love problem solving, sport's and experiencing new things..I also want to start travelling more, first on my list is New York.</p>
    </article>
    <!--End about intro-->
    
    <!--Testimonials-->
    <article id="testimonials" class=" columns_Two clearfix nomarginRight">
        <h1 class="title"><span>Testimonials</span></h1>
         <div class="testimoniaContainer">
          <!--Testi-->
          <div class="testi">
        <blockquote>Richards enthusiasm and passion is clear to see, I was very impressed with all aspects of how the project was handled and would definetly recommend his services to anyone else who needs a current website redesigned or a new business looking to get some Web exposure.</blockquote>
            <h3>David Turner / <span>Davids Carpets</span></h3>
            </div>
            <!--End testi-->
            
            
            <!--Testi-->
            <div class="testi">
          <blockquote>Testimonial Pending</blockquote>
              <h3><span></span></h3>
              </div>
              <!--End testi-->
              
              <!--Testi-->
              <div class="testi">
            <blockquote>Testimonial Pending</blockquote>
                <h3><span></span></h3>
                </div>
                <!--End testi-->
      </div>
    </article>
    <!--End testimonials -->
    </div>