  <!--Footer-->
  <footer id="pageFooter">
    <!--Inner footer-->
    <div id="innerFooter">
      
      <!--Socials footer-->
      <ul id="socialsFooter">

          <li class="fb"><a href="https://www.facebook.com/richard.lewis.104" target="_blank"></a></li>
          <li class="tw"><a href="https://twitter.com/richl14" target="_blank"></a></li>
          <li class="li"><a href="http://www.linkedin.com/profile/view?id=197779207" target="_blank"></a></li>
      </ul>
      <!--End socials footer-->
      </div>
      <!--End inner footer-->
  </footer>
    <!--End footer-->