<div id="header">
      <!--Logo-->
    <figure id="logo">
      <div id="innerLogo">
      
      </div>
    </figure>
      <!--End logo-->
    
  <!--Header-->
  <header class="clearfix">
    <!--Inner header-->
    <div id="innerHeader">
    <hgroup>
    <h1>My name is Richard Lewis</h1>
    <h2> I am a Software Tester / Web Developer</h2>
    </hgroup>
    <!--Socials-->
    <ul id="socials">

        <li class="fb"><a href="https://www.facebook.com/richard.lewis.104" target="_blank"></a></li>
        <li class="tw"><a href="https://twitter.com/richl14" target="_blank"></a></li>
        <li class="li"><a href="http://www.linkedin.com/profile/view?id=197779207" target="_blank"></a></li>
        
    </ul>
    <!--End socials-->
  </div>
  <!--End inner header-->
  </header>
  <!--End header-->



    <!--Navigation-->
  <section id="navigation" class="clearfix">
      <div id="innerNavigation">
    <nav id="mainNav" class="default">
      <ul>
        <li><a href="#about" class="">About me</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>

      </ul>
    </nav>
    </div>
    </section>
    <!--End nqvigqtion-->
</div>  
<!--End header--> 