<!--What i do -->
    <article id="services" class="clearfix">
      <h1 class="title"><span>What i do</span></h1>
        <!--Services inner-->
        <div id="servicesInner" class="clearfix">
          <!--Service single-->
          <div class="columns_Three">
            <%= image_tag("/images/wd.png") %>
            <h4><span>Software Testing</span></h4>
            <p>I have been Software Testing for over 3 years now. In this time I have completed my ISEB Foundation and am currently studying towards the ISEB Intermediate qualification.Experienced in working within various environments, especially Agile.</p>
          </div>
          <!--End service single-->
          
          <!--Service single-->
          <div class="columns_Three">
            <%= image_tag("/images/bd.png") %>
            <h4><span>Web Development</span></h4>
            <p>Started getting involved with Web development for over 2 years ago, this is something I am particularly passionate about in my spare time. </p>
          </div>
          <!--End service single-->
          
          <!--Service single-->
          <div class="columns_Three  nomarginRight">
            <%= image_tag("/images/gd.png") %>
            <h4><span>Graphic design</span></h4>
            <p>To compliment any web development work I have connections with a number of proffessional Graphic Designers, so no matter what the project is the right person is always available.</p>
          </div>
          <!--End service single-->
        </div>
        <!--End services inner-->
    </article>
    <!--End what i do-->
    </div>
    <!--End inner home-->
    </section>
  <!--End home-->
  
  
  <!--Resume section-->
  <section id="resume">
    <!--Inner resume-->
    <div id="innerResume" class="clearfix">
      <!--Clear-->
      <div class="clearfix">
        <!--Education-->
      <article id="education" class="columns_Two">
            <h1 class="title"><span>Education</span></h1>
            <hgroup>
              <h4>ISEB Foundation &ndash; Software Testing</h4>
              <h6>2012</h6>
            </hgroup>
      <p>After completing my ISEB Foundation I then registered to become a member of The Chartered Institute for IT (BCS), which I am still a member of today. I am currently studying towards my ISEB Intermediate qualification. </p>
      </article>
      <!--End education-->
      
      
        <!--Experience-->
        <article id="experience" class="columns_Two nomarginRight">
              <h1 class="title"><span>Experience</span></h1>
              <hgroup>
                <h4>Web Tester &ndash; Tracesmart, Cardiff </h4>
                <h6>2012-Current</h6>
              </hgroup>
        <p>Currently employed at Tracesmart in Cardiff, a consumer data specialist. Tracesmart has given and continues to give me a great depth of knowledge and experience in Software testing.</p>
                      <br>
                <hgroup>
                  <h4>Test Analyst &ndash; Target Group </h4>
                  <h6>2009-2012</h6>
                </hgroup>
        <p>Working within a team of 8 Test Analysts, generating test reports, test plans and conducting test procedures. Also responsible for carrying out UAT testing.</p>


        </article>
        <!--End experience-->
      </div>
      <!--End clear-->
    
      <!--Skills-->
    <article id="skills">
      <h1 class="title"><span>Skills</span></h1>
      <!--Skills holder-->
      <div id="skillsHolder" class="clearfix">
        <!--Skills double-->
      <div class="skillsDouble">
        <ul>
          <li class="redFade">
            <div class="text">Selenium</div>
            <div class="star fourStar"></div>     
          </li>
          <li class="blackFade">
            <div class="text">HTML</div>
            <div class="star threeStar"></div>
          </li>
        </ul>
      </div>
      <!--End skills double-->
      
        <!--Skills double-->
      <div class="skillsDouble">
        <ul>
          <li class="redFade">
            <div class="text">Agile</div>
            <div class="star fourStar"></div>
          </li>
          <li class="blackFade">
            <div class="text">CSS</div>
            <div class="star threeStar"></div>
          </li>
        </ul>
      </div>
      <!--End skills double-->
      
          <!--Skills double-->
        <div class="skillsDouble">
          <ul>
            <li class="redFade">
              <div class="text">Jmeter</div>
              <div class="star fourStar"></div>
              </li>
            <li class="blackFade">
              <div class="text">Jquery</div>
              <div class="star threeStar"></div>
            </li>
          </ul>
        </div>
        <!--End skills double-->

          <!--Skills double-->
        <div class="skillsDouble">
          <ul>
            <li class="redFade">
              <div class="text">Web Testing</div>
              <div class="star fourStar"></div>
              </li>
            <li class="blackFade">
              <div class="text">Ruby</div>
              <div class="star threeStar"></div>
            </li>
          </ul>
        </div>
        <!--End skills double-->
        
            <!--Skills double-->
          <div class="skillsDouble">
            <ul>
              <li class="redFade">
                <div class="text">ISEB</div>
                <div class="star fourStar"></div>
              </li>
              <li class="blackFade">
                <div class="text">Javascript</div>
                <div class="star twoStar"></div>
              </li>
            </ul>
          </div>
          <!--End skills double-->

            <!--Skills double-->
          <div class="skillsDouble">
            <ul>
              <li class="redFade">
                <div class="text">Scrum</div>
                <div class="star fourStar"></div>
              </li>
              <li class="blackFade">
                <div class="text">Rails</div>
                <div class="star threeStar"></div>
              </li>
            </ul>
          </div>
          <!--End skills double-->
          
              <!--Skills double-->
            <div class="skillsDouble">
              <ul>
                <li class="redFade">
                  <div class="text">Automation</div>
                  <div class="star fourStar"></div>
               </li>
                <li class="blackFade">
                  <div class="text">TDD</div>
                  <div class="star twoStar"></div>
                </li>
              </ul>
            </div>
            <!--End skills double-->
        

      
              
      </div>
      <!--End skills holder-->
    </article>
    
    </div>
    <!--End inner resume-->
  </section>
  <!--End resume section-->
  
  
    <!--Portfolio section-->
  <section id="portfolio">
      <!--Inner portfolio-->
      <div id="innerPortfolio" class="clearfix">
    <h1 class="title"><span>Portfolio</span></h1>
    
    <!-- Filter nav
            <ul id="category" class="filter">
              <li class="all current"><a href="#">All</a></li>
              <li class="catWeb"><a href="#">Web Design</a></li>
              <li class="catGraphic"><a href="#">Graphic Design</a></li>
              <li class="catMotion"><a href="#">Motion Graphic</a></li>
            </ul>
    End filter nav -->

                  <!-- Works list -->
                  <section id="works" class="clearfix">
                    <!--Portfolio-->
                      <ul class="portfolio clearfix">

                  <li data-id="id-1" data-type="catWeb" class="item">
                    <%= image_tag("/images/movierelease.png") %>
                  <div class="link">
                    <div class="folio" >
                      <hgroup>
                        <h3>Movie Release Reminder</h3> 
                        <h4><a href="http://comingsoon.fishplatestudios.co.uk/" target="_blank">Visit Site</a></h4>
                        <h5><a href="#">Read More</a></h5>
                      </hgroup>
                    </div>
                  </div>
                  </li>

                  <li data-id="id-2" data-type="catWeb" class="item">
                    <%= image_tag("/images/coverartfinder.png") %>
                    <div class="link">
                      <div class="folio">
                       <hgroup>
                        <h3>Cover Art Finder</h3>
                         <h4><a href="http://www.coverartfinder.co.uk" target="_blank">Visit Site</a></h4>
                         <h5><a href="#">Read More</a></h5>
                       </hgroup>
                     </div>
                   </div>
                  </li>

                  <!--<li data-id="id-3" data-type="catGraphic" class="item">
                  <%= image_tag( aws_asset "/assets/images/img3.jpg") %>
                  <div class="link"><a class="folio" href="<%= aws_asset("/assets/images/img.jpg") %>"><hgroup><h3>Project title goes here</h3>
                    <h4>In Graphic Design</h4></hgroup></a></div>
                  </li>

                  <li data-id="id-4" data-type="catGraphic" class="item">
                  <%= image_tag( aws_asset "/assets/images/img4.jpg") %>
                  <div class="link"><a class="folio" href="<%= aws_asset("/assets/images/img.jpg") %>"><hgroup><h3>Project title goes here</h3>
                    <h4>In Graphic Design</h4></hgroup></a></div>
                  </li>

                  <li data-id="id-5" data-type="catMotion" class="item">
                  <%= image_tag( aws_asset "/assets/images/img5.jpg") %>
                  <div class="link"><a class="folio" href="<%= aws_asset("/assets/images/img.jpg") %>"><hgroup><h3>Project title goes here</h3>
                    <h4>In Motion Graphic</h4></hgroup></a></div>
                  </li>

                  <li data-id="id-6" data-type="catMotion" class="item">
                  <%= image_tag( aws_asset "/assets/images/img6.jpg") %>
                  <div class="link"><a class="folio" href="<%= aws_asset("/assets/images/img.jpg") %>"><hgroup><h3>Project title goes here</h3>
                    <h4>In Motion Graphic</h4></hgroup></a></div>
                  </li>

                  <li data-id="id-7" data-type="catGraphic" class="item">
                  <%= image_tag( aws_asset "/assets/images/img7.jpg") %>
                  <div class="link"><a class="folio" href="<%= aws_asset("/assets/images/img.jpg") %>"><hgroup><h3>Project title goes here</h3>
                    <h4>In Graphic design</h4></hgroup></a></div>
                  </li>

                  <li data-id="id-8" data-type="catWeb" class="item">
                  <%= image_tag( aws_asset "/assets/images/img8.jpg") %>
                  <div class="link"><a class="folio" href="<%= aws_asset("/assets/images/img.jpg") %>"><hgroup><h3>Project title goes here</h3>
                    <h4>In Web design</h4></hgroup></a></div>
                  </li>-->

                  </ul>
                  <!--End portfolio-->
                  </section>
                    <!-- End works list -->
      </div>
      <!--End inner portfolio-->
  </section>  
  <!--End portfolio section-->
  
  
    <!--Contact section-->
  <section id="contact">
    <!--Inner portfolio-->
    <div id="innerContact" class="clearfix">
     <h1 class="title"><span>Contact</span></h1>
    
      <!-- Contact form -->
      <div id="contactForm">
        <form class="contactForm clearfix" action="/" method="post" >

              <div class="control-group">
               <div class="controls">
                <input type="text" class="input-medium" name="name" id="inputName" placeholder="Name *" />
                 <span class="help-inline" style="display: none;">Name is required</span>
              </div>
            </div> 

            <div class="control-group">
              <div class="controls">
                <input type="text" name="email" class="input-medium" id="inputEmail" placeholder="Email *" />
                <span class="help-inline" style="display: none;">Dont forget your email</span>
              </div>
            </div>

            <div class="control-group">
               <div class="controls">
                <input type="text" class="input-medium" name="company" id="inputCompany" placeholder="Company *" />
                 <span class="help-inline" style="display: none;">Company Name is required</span>
              </div>
            </div> 

            <div class="control-group">
                 <div class="controls">
                  <textarea name="message"  class="input-medium" id="inputMessage" cols="45" rows="10" placeholder="Message *"></textarea>
                   <span class="help-inline" style="display: none;">Dont forget your Message</span>
                 </div>
               </div>

               <div class="hidden">
                <input name="ghost" type="text" class="inputGhost"></input>
               </div>

              <input type="submit" name="submitBtn" id="submit" value="Send"></input>
            </form>
      </div>
      <!-- End contact form -->
      
      <!--Contact information-->
      <div id="info">
      
      </div>
      <!--End contact information-->
    </div>
      <!--End inner contact-->
      
        <!--Twitter section-->
      <section id="twitter">
          <!--Inner twitter-->
        <div id="innerTwitter">
          
        </div>
          <!--End inner twitter-->
      </section>
        <!--End twitter section-->

        <!--Map section-->
    
        <div id="map_canvas"></div>
    
        <!--End map section-->
  </section>
  <!--End contact-->


  







