<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Richard Lewis personal profile" />
<meta name="keywords" content="HTML, CSS, JavaScript, Richard Lewis, Software Testing, Ruby On Rails, Ruby, Web Development" />
<meta name="author" content="Richard Lewis" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Richard Lewis Profile</title>

<%= stylesheet_link_tag "/assets/css/main.css" %>
<%= stylesheet_link_tag "/assets/css/jquery-vegas.css" %>
<%= stylesheet_link_tag "/assets/css/fancybox.css" %>
</head>
 <body onload="initialize()">
  <div id="wrapper">
    <%= styled_flash %>
    <%= erb :header %>
    <%= erb :aboutme %>
    <%= yield %>
    <%= erb :footer %>
  </div>

<%= javascript_script_tag "/assets/js/jquery-1.7.min.js" %>
<%= javascript_script_tag "/assets/js/jquery.vegas.js" %>
<%= javascript_script_tag "/assets/js/jquery.quicksand.js" %>
<%= javascript_script_tag "/assets/js/jquery.easing.js" %>
<%= javascript_script_tag "/assets/js/jquery.fancybox.js" %>
<%= javascript_script_tag "/assets/js/jquery.mousewheel.js" %>
<%= javascript_script_tag "/assets/js/jquery.slides.min.js" %>
<%= javascript_script_tag "/assets/js/jquery.scrollTo.min.js" %>
<%= javascript_script_tag "/assets/js/waypoints.js" %>
<%= javascript_script_tag "/assets/js/script.js" %>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript">

  
/*$("#innerTwitter p").tweet({
      username:'richl14',//change the user name here with your own twitter user name
      page: 1,
      count: 3,
      template: "<b>{name}@{screen_name}</b> {text}<span class='info-twitterSpan'>POSTED {time}</span>"
    }).bind("loaded", function() {
      var ul = $(this).find(".tweet_list");
      var ticker = function() {
      setTimeout(function() {
        ul.find('li:first').animate( {marginTop: '-90px'}, 500, function() {
        $(this).detach().appendTo(ul).removeAttr('style');
        });
        ticker();
      }, 10000);
      };
      ticker();
    });*/
    
</script>

<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApUO4ajt4kh5KnLE-zJbdmDKrVf7zqsvA&sensor=false">
</script>
<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(51.481581,-3.17909),
          zoom: 15,
          scrollwheel: false,
          draggable: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

        var marker = new google.maps.Marker({
          position: map.getCenter(),
          map: map,
          title: 'Me'
        });

        var center;
        function calculateCenter() {
         center = map.getCenter();
        }
         google.maps.event.addDomListener(map, 'idle', function() {
         calculateCenter();
        });
         google.maps.event.addDomListener(window, 'resize', function() {
         map.setCenter(center);
        });

      }


    </script>




<!--[if lt IE 8]>
<style>
/* For IE < 8 (trigger hasLayout) */
.clearfix {
    zoom:1;
}
</style>
<![endif]-->


  
</body>
</html>