Hello Rich,

Seems as if you have recieved an email from <%= params[:name] %> via your personal site.

Their email address is <%= params[:email] %>, this is what they said.

<%= params[:message] %>